.header {
    border-radius: 0px 0px 40px 40px;
    /* Linear */
    background: linear-gradient(134.45deg, rgb(252, 238, 213) 6.431%,rgb(252, 238, 213) 78.328%,rgb(255, 231, 186) 104.241%);  
    padding: 30px 0;
    height: 100vh;
        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .header__inner{
        position: relative;
    }
    .menu{
        z-index: 1;
    }
    .logo{
        z-index: 1;
    }

    .menu {
        &__list {
            display: flex;
        }

        &__list-item+.menu__list-item {
            padding-left: 48px;
        }

        &__list-link {
            color: $title-color;
            padding-bottom: 1px;
            transition: all .3s;

            &:hover {
                color: $accent-color;
                border-bottom: 2px solid $accent-color;
            }
        }

        &__list-link--active {
            color: $accent-color;
            border-bottom: 2px solid $accent-color;
        }
    }

    .header {
        &__search {
            position: relative;
            display: inline-block;

            &-img {
                position: absolute;
                top: 50%;
                left: 10px;
                transform: translateY(-50%);
                color: rgb(153, 162, 165);
            }
        }

        &__input {
            width: 280px;
            height: 44px;
            padding-left: 48px;
            font-size: 14px;
            @extend %gilroy-500;
            color: #000;
            border-radius: 46px;
            outline: none;
        }

        &__input::placeholder {
            color: rgb(153, 162, 165);
        }

        &__join {
            padding: 12px 28px 8px;
            background-color: $main-color;
            border-radius: 57px;
            color: white;
            font-size: 16px;
            line-height: 24px;
        }

        &__lang {
            position: relative;
            color: $main-color;
            font-size: 16px;
            line-height: 23px;
            @extend %gilroy-500;
        }
    }

    .header__bottom {
        padding: 80px 0 205px;

        &-title1 {
            position: relative;
            max-width: 465px;
            margin-bottom: 4px;
            z-index: 1;
        }

        &-title2 {
            min-width: 452px;
            margin-bottom: 24px;
        }

        &-text {
            max-width: 480px;
            margin-bottom: 34px;
        }

        &-btn-trans {
            margin-right: 20px;
        }
    }

.container__header{
    position: relative;
}

.header{
    &__decor-rect1{
        position: absolute;
        left: 0;
        top: -65px;
    }
    &__decor-rect2{
        position: absolute;
        top: 115px;
        left: 0px;
    }
    &__decor-rect3{
        position: absolute;
        bottom: -30px;
        left: -165px;
    }
    &__decor-rect4{
        position: absolute;
        top: 100px;
        left: 600px;
    }
    &__decor-rect5{
        position: absolute;
        top: 180px;
        left: 560px;
    }
    &__decor-rect7{
        position: absolute;
        top: 190px;
        left: 560px;
    }
    &__decor-rect8{
        position: absolute;
        bottom: -30px;
        right: -50px;
    }
    &__decor-rect9{
        position: absolute;
        bottom: -30px;
        right: -100px;
    }
    &__decor-rect10{
        position: absolute;
        bottom: -30px;
        right: -160px;
    }
}