.new {
    padding: 60px 0 60px;
    background-color: #fff;

    &__text {
        margin-bottom: 2px;
    }

    &__title {
        margin-bottom: 28px;
    }
}

.container__new {
    position: relative;
}

.new__btn {
    position: absolute;
    right: 15px;
    top: 0;
}

.new__item:nth-last-child(-n + 4) {
    margin-bottom: 0;
}

.new__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    row-gap: 20px;
}

.new__item {
    max-width: 280px;
    background-color: #fff;
    border-radius: 12px;

    &-img {
        padding: 8px 8px 8px 8px;
        border-radius: 12px;

    }

    &-title {
        margin-bottom: 4px;
        padding-left: 8px;
    }

    &-inner {
        padding: 0px 8px 20px 8px;
        display: flex;
        gap: 4px;
        margin-bottom: 4px;
    }

    &-left {
        display: flex;
        gap: 6px;
    }

    &-right {
        display: flex;
        gap: 6px;
    }

    &-bottom {
        width: 248px;
        display: flex;
        justify-content: center;
        gap: 20px;
        max-width: 250px;
        padding: 8px 46px 8px 10px;
        background-color: rgb(252, 238, 213);
        align-items: center ;
        margin-left: 15px;
        margin-bottom: 20px;
        border-radius: 8px;
        &-text{
            white-space: nowrap;
            font-size: 14px;
            @extend %gilroy-700;
            line-height: 20px;
        }
    }
}