html{
    scroll-behavior: smooth;
}

html,
body{
    height: 100%;
}

body{
    font-size: 16px;
    line-height: 1.5;
    background-color: $bg-color;
    color:$main-color;
    @extend %gilroy-700;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.main{
    flex-grow: 1;
}

.wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main{
    flex:1;
}

.container{
    max-width: $maxWidth-container;
    margin: 0 auto;
    padding: $padding-container;
}

.title-up{
    font-size: 60px;
    line-height: 68px;
    @extend %gilroy-800;
    color: $title-color;
}

.title-down{
    font-size: 46px;
    line-height: 60px;
    @extend %gilroy-700;     
    color: $title-color;
}

.title{
    color: $main-color;
    font-size: 24px;
    line-height: 36px;
    @extend %gilroy-700;
}

.text{
    color: $text-color;
    font-size: 16px;
    line-height: 24px;
}

.cart-title{
    color: $cart-title;
    font-size: 16px;
    line-height: 24px;
    @extend %gilroy-700;
}

.cart-text__left{
    color: $cart-text;
    font-size: 12px;
    line-height: 18px;
}   
.cart-text__right{
    color: $cart-text;
    font-size: 12px;
    line-height: 18px;
    @extend %gilroy-700;
    font-weight: 700;
}
.cart-sum{
    color: $cart-title;
    font-size: 14px;
    line-height: 20;
    @extend %gilroy-700;
}

.btn-trans{
    position: relative;
    display: inline-block;
    max-width: 167px;
    padding: 14px 60px 10px 28px;
    color: $main-color;
    font-size: 16px;
    line-height: 24px;
    background-color: transparent;
    border: 1.5px solid $main-color;
    border-radius: 57px; 
}


.btn-notrans{
    max-width: 163px;
    padding: 14px 36px 12px;
    color: rgb(253, 253, 253);
    font-size: 16px;
    line-height: 24px;
    background-color: $main-color;
    border-radius: 57px;
}